body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  /* border: 3px solid tomato; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  /* background-color: blueviolet; */
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.link {
  text-decoration: none;
  display: inline-block;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.photo {
  display: block;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.web {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover .web {
  color: #212121;
}

.studio {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover .studio {
  color: #2196f3;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  /* margin-top: 35px; */
}

@media screen and (max-width: 479px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .nav {
    display: none;
  }
}

.nav-list-link {
  position: relative;
}

.nav-list-link + .nav-list-link {
  margin-left: 50px;
}

.nav-list-link > .current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.nav-link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  color: #2196f3;
}

.nav,
.current {
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .nav-contacts {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .nav-contacts {
    display: none;
  }
}

.nav-list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-list-contacts + .nav-list-contacts {
  margin-left: 30px;
}

.contacts {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover, .contacts:focus {
  color: #2196f3;
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: black;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../image/hero-upgrade.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../image/hero-upgrade.jpg);
  background-size: cover;
  background-position: center;
}

.main-caption {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .main-caption {
    font-size: 26px;
    line-height: 1.62;
  }
}

.button {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  border-radius: 4px;
  padding: 10px;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  border: transparent;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.order {
  display: inline-block;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover .order,
.button:focus .order {
  display: inline-block;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.order-new {
  position: absolute;
  bottom: 100%;
  left: 35px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover .order-new,
.button:focus .order-new {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateY(calc(-50% + 55px));
          transform: translateY(calc(-50% + 55px));
}

.benefits-list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .benefits-list-item {
    margin-bottom: 30px;
  }
}

.benefits-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-perspective: 600px;
          perspective: 600px;
}

@media screen and (min-width: 480px) {
  .benefits-icon {
    width: 450px;
    margin-bottom: 30px;
  }
}

.benefits-item {
  margin-left: auto;
  margin-right: auto;
}

.benefits-icon:hover .benefits-item,
.benefits-icon:focus .benefits-item {
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.sub-caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .sub-caption {
    text-align: center;
  }
}

.benefits-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-padding {
  padding-top: 0;
}

@media screen and (max-width: 480px) {
  .no-padding {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .no-padding {
    display: none;
  }
}

.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0px;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .caption {
    margin-bottom: 30px;
  }
}

.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.do-item + .do-item {
  margin-left: 30px;
}

.box {
  position: relative;
  z-index: 1;
}

.new-caption-box {
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-caption {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

.f-w {
  display: inline-block;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.box:hover .f-w {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.s-w {
  display: inline-block;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.box:hover .s-w {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
}

.our-teem {
  background: #f5f4fa;
}

.teem-item {
  margin-right: 0px;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.position {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
  margin-right: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.teem-item:hover .photo {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.card-content {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.teem-item:hover .card-content,
.teem-item:focus .card-content {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.caption-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-left: 57px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
  color: #212121;
}

.networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.networks-item + .networks-item {
  margin-left: 10px;
}

.networks-item-teem {
  border-radius: 50%;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-item-teem:hover, .networks-item-teem:focus {
  background-color: #2196f3;
}

.networks-icon {
  fill: #afb1b8;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-item-teem:hover .networks-icon,
.networks-item-teem:focus .networks-icon {
  fill: #ffffff;
}

.linkedin {
  padding-top: 9px;
}

.alt {
  margin-left: 75px;
}

@media screen and (max-width: 479px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 479px) {
  .clients-list-item {
    margin: 15px;
  }
}

@media screen and (min-width: 480px) {
  .clients-list-item {
    margin: 15px;
  }
}

.clients-logo {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 210px;
}

.clients-logo:hover, .clients-logo:focus {
  border-color: #2196f3;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .clients-logo {
    width: 210px;
  }
}

.clients-logo-icon {
  /* display: inline-block; */
  margin-left: auto;
  margin-right: auto;
  fill: #afb1b8;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:hover .clients-logo-icon {
  fill: #2196f3;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

footer {
  background-color: #2f303a;
}

@media screen and (min-width: 480px) {
  footer {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .footer-flex {
    padding-top: 60px;
  }
}

.footer-container {
  margin-bottom: 60px;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: block;
}

@media screen and (min-width: 480px) {
  .logo-footer {
    text-align: center;
    margin-bottom: 20px;
  }
}

.logo-footer:hover .web,
.logo-footer:focus .web {
  color: #ffffff;
}

.studio-footer {
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer:hover .studio-footer,
.logo-footer:focus .studio-footer {
  color: #2196f3;
}

.join-us {
  margin-top: 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 480px) {
  .join-us {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.address-main {
  margin-bottom: 9px;
}

@media screen and (min-width: 480px) {
  .address-main {
    display: block;
    text-align: center;
  }
}

.address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

@media screen and (min-width: 480px) {
  .contacts-footer {
    display: block;
    text-align: center;
  }
}

.contacts-email {
  display: inline-block;
  margin-bottom: 8px;
}

.networks-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px) {
  .networks-list-footer {
    margin-left: 125px;
    margin-bottom: 20px;
  }
}

.footer-networks-item {
  margin-left: auto;
  margin-right: auto;
}

.footer-networks-icon {
  fill: #ffffff;
  background-color: #484957;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks-icon:hover, .footer-networks-icon:focus {
  background-color: #2196f3;
}

.subscribe {
  /* display: flex; */
}

.subscribe-text {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 480px) {
  .subscribe-text {
    display: block;
    text-align: center;
  }
}

.input-footer {
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 0px;
}

@media screen and (min-width: 480px) {
  .input-footer {
    width: 450px;
    margin-bottom: 20px;
  }
}

.subscribe-button {
  /* padding: 9px 28px; */
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 4px;
  border: transparent;
  background-color: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  cursor: pointer;
}

.subscribe-button::after {
  content: url(../image/icons/subscribe.svg);
  margin-top: 4px;
  padding-bottom: 0px;
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
  .subscribe-button {
    margin-left: 140px;
  }
}

.p {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(16px, 10px) scale(1);
          transform: translate(16px, 10px) scale(1);
  -webkit-transition: all 700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover .p,
.subscribe-button:focus .p {
  -webkit-transform: translate(45px, 12px) scale(0.7);
          transform: translate(45px, 12px) scale(0.7);
}

.b {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(46px, 10px) scale(1);
          transform: translate(46px, 10px) scale(1);
  -webkit-transition: all 700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover .b,
.subscribe-button:focus .b {
  -webkit-transform: translate(17px, 9px) scale(1.3);
          transform: translate(17px, 9px) scale(1.3);
}

.copyright {
  padding-top: 19px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 480px) {
  .copyright {
    display: none;
  }
}

.add-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  margin-top: 0px;
  margin: 0px;
}

.backdrop {
  top: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 4;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.8) translate(-50%, -50%);
          transform: scale(0.8) translate(-50%, -50%);
}

.modal {
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -55%);
          transform: scale(1) translate(-50%, -55%);
  z-index: 3;
  padding: 40px 42px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal h2 {
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: transparent;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1px;
  /* padding-right: 9px; */
  padding-right: 0px;
  cursor: pointer;
  padding-left: 7px;
}

.close-icon {
  font-size: 25px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover, .close-icon:focus {
  color: #2196f3;
}

.input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-field-text {
  margin-bottom: 20px;
}

.form-field-text textarea {
  width: 448px;
  padding: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.policy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  margin-bottom: 30px;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.policy-text-item {
  margin-left: 25px;
}

.policy-rules {
  color: #2196f3;
}

.button-submit {
  display: inline-block;
  color: #ffffff;
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 55px;
  border: transparent;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover, .button-submit:focus {
  -webkit-box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  color: #2196f3;
}

.form-field-submit {
  display: inline-block;
  margin-left: 122px;
}

.name {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .name,
.input:not(:placeholder-shown) + .name {
  -webkit-transform: translate(-30px, -45px);
          transform: translate(-30px, -45px);
  color: #2196f3;
}

.form-icons {
  position: absolute;
  top: 27%;
  left: 16px;
}

.input:focus ~ .form-icons {
  fill: #2196f3;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.checkbox-icon {
  display: inline-block;
  position: absolute;
  top: -1;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 3px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../image/icons/oki.svg);
  border-color: transparent;
  background-size: cover;
  background-origin: border-box;
}

.checkbox:checked ~ .policy-text-item {
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
  -webkit-transform: scale(1.07) translateX(7px);
          transform: scale(1.07) translateX(7px);
}

.form-field-text {
  position: relative;
  margin-bottom: 20px;
}

.input-comment {
  width: 448px;
  padding: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.input-comment:focus + .name-text,
.input-comment:not(:placeholder-shown) + .name-text {
  -webkit-transform: translate(-16px, -25px);
          transform: translate(-16px, -25px);
  color: #2196f3;
}

.name-text {
  position: absolute;
  top: 0;
  left: 16px;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */