.hero {
  text-align: center;
 

  background-color: black;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../image/hero-upgrade.jpg);
  background-size: cover;
  background-position: center;

   @media screen and (min-width: 480px) {
     padding-top: 120px;
  padding-bottom: 120px;
  }
  @media screen and (min-width: 768px) {
      padding-top: 120px;
  padding-bottom: 120px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
  /* background-
}
.main-caption {
  color: $background;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
}
.button {
  background-color: $add-text;
  color: $background;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: inline-block;
  border-radius: 4px;
  padding: 10px;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  border: transparent;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.order {
  display: inline-block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button:hover &,
  .button:focus & {
    display: inline-block;
    transform: translateY(50px);
  }
}

.order-new {
  position: absolute;
  bottom: 100%;
  left: 35px;
  transform: translateY(-15px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button:hover &,
  .button:focus & {
    position: absolute;
    display: inline-block;
    transform: translateY(calc(-50% + 55px));
  }
}
