body {
  background-color: $background;
  color: $text;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 56px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* border: 3px solid tomato; */

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  /* background-color: blueviolet; */
}
.link {
  text-decoration: none;
  display: inline-block;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.photo {
  display: block;
}
